.form {
    max-width: 278px;
    width: 100%;
    &__checkbox {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
      font-family: "Calibri", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #373563;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    button {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      border: none;
      background: #ff5f68;
      border-radius: 42px;
      padding-top: 13px;
      padding-bottom: 13px;
      color: #ffffff;
      transition: 200ms;
      margin-top: 20px;
      &:hover {
        background: #c75158;
      }
    }
    input {
      padding: 12px 0 12px 20px;
      max-width: 278px;
      width: 100%;
      border-radius: 42px;
      border: none;
      font-family: "Calibri", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
    .form__checkbox {
      input {
        max-width: 20px;
      }
    }
  }
}
@media screen and (max-width: 1054px) {
  .form {
    max-width: none;
    &__checkbox {
      justify-content: flex-start;
    }
    form {
      input {
        max-width: none;
      }
    }
  }
}