.gift {
  display: flex;
  max-width: 749px;
  justify-content: space-between;
  &__checkbox {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
      font-family: "Calibri";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #373563;
    }
  }
  .gift__info {
    max-width: 340px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: #d74e50;
      margin-bottom: 13px;
    }
    div {
      display: flex;
      align-items: center;
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #373563;
      }
    }
  }
}
@media screen and (max-width: 1054px) {
  .gift {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}
