.page-1 {
  background: url(../img/page-1.png);
  background-repeat: no-repeat;
  margin-top: -1px;
  .tick {
    margin-top: 49px;
    hr {
      display: none;
    }
  }
  .gift {
    margin-top: 47px;
  }
}
.page-2 {
  margin-top: 86px;
  &__main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 79px;
  }
  &__item {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #373563;
      max-width: 300px;
    }
  }
  .tick {
    margin-top: 74px;
  }
}
.page-3 {
  background: url(../img/page-3.png);
  background-position-x: right;
  padding-top: 114px;
  .title {
    flex-direction: column;
    p {
      margin-bottom: 21px;
    }
  }
  .gift {
    justify-content: center;
    max-width: none;
    gap: 50px;
    margin-top: 63px;
  }
  .tick {
    margin-top: 88px;
  }
}
.page-4 {
  margin-top: 107px;
  .tick {
    margin-top: 74px;
  }
}
.page-5 {
  padding-top: 107px;
  background: url(../img/page-5.png);
  .title {
    h2 {
      color: #373563;
    }
  }
  .tick {
    margin-top: 74px;
    padding-bottom: 4px;
  }
}
.page-6 {
  background: url(../img/page-6.png);
  padding-top: 114px;
  .tick {
    margin-top: 93px;
  }
}
.page-7 {
  background: url(../img/page-7.png);
  background-position-x: -72px;
  padding-top: 108px;
  .title {
    flex-direction: column;
    text-align: center;
    span {
      max-width: 1000px;
    }
    h2 {
      margin-bottom: 39px;
    }
  }
  .gift {
    margin-top: 104px;
    max-width: none;
    justify-content: center;
    gap: 40px;
  }
  .tick {
    margin-top: 80px;
  }
}
.page-8 {
  padding-top: 116px;
  background: url(../img/page-8.png);
  .title {
    flex-direction: column;
    align-items: flex-start;
    h2 {
      font-weight: 600;
      font-size: 48px;
      line-height: 58px;
      text-transform: uppercase;
      color: #ff5f68;
      margin: 0;
    }
    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #373563;
      margin-bottom: 30px;
    }
  }
  .tick {
    margin-top: -28px;
  }
}
@media screen and (max-width: 1054px) {
  .page-1 {
    background: url(../img/page-1-mobile.png);
    background-position-x: center;
    .tick {
      margin-top: 388px;
      hr {
        display: inline;
      }
    }
  }
  .page-2 {
    background-color: #ededed;
    padding-top: 91px;
    margin-top: 0;
    .container {
      max-width: 660px;
    }
    .title {
      margin-left: 21px;
    }
    .tick {
      margin-left: 21px;
      margin-right: 21px;
    }
  }
  .page-3 {
    background: url(../img/page-3-mobile.png);
    background-position-x: center;
    padding-top: 86px;
    .gift {
      margin-top: 27px;
      gap: 60px;
    }
    .title {
      h2 {
        text-align: center;
      }
      span {
        text-align: center;
      }
      p {
        text-align: justify;
      }
    }
    .tick {
      margin-top: 457px;
    }
  }
  .page-4 {
    .tick {
      margin-top: 51px;
    }
  }
  .page-5 {
    padding-top: 72px;
    background: url(../img/page-5-mobile.png);
    .container {
      max-width: 1037px;
    }
    .title {
      margin-left: 21px;
    }
    .tick {
      margin-top: 67px;
      margin-left: 21px;
      margin-right: 21px;
    }
  }
  .page-6 {
    padding-top: 83px;
    .container {
      max-width: 1054px;
    }
    .title {
      margin-left: 21px;
    }
    .tick {
      margin-left: 21px;
      margin-right: 21px;
      margin-top: 67px;
    }
  }
  .page-7 {
    background: url(../img/page-7-mobile.png);
    padding-top: 87px;
    .gift {
      margin-top: 53px;
    }
    .tick {
      margin-top: 470px;
    }
  }
  .page-8 {
    background: #EDEDED;
    padding-top: 86px;
    .title {
      h2 {
        font-size: 32px;
        line-height: 39px;
      }
    }
  }
}
