.page-1 {
  background: url(/img/page-1.png);
  margin-top: -1px;
  .tick {
    margin-top: 49px;
    hr {
      display: none;
    }
  }
}
.page-2 {
  margin-top: 86px;
  &__main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 79px;
  }
  &__item {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #373563;
      max-width: 300px;
    }
  }
  .tick {
    margin-top: 74px;
  }
}
.page-3 {
    background: url(/img/page-3.png);
}
