.page-1 {
  background: url(/img/page-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -1px;
  .tick {
    margin-top: 49px;
    hr {
      display: none;
    }
  }
  .gift {
    margin-top: 47px;
  }
}
.page-2 {
  margin-top: 86px;
  &__main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 79px;
  }
  &__item {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #373563;
      max-width: 300px;
    }
  }
  .tick {
    margin-top: 74px;
  }
}
.page-3 {
  background: url(/img/page-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 114px;
  .title {
    flex-direction: column;
    p {
      margin-bottom: 21px;
    }
  }
  .gift {
    justify-content: center;
    max-width: none;
    gap: 50px;
    margin-top: 63px;
  }
  .tick {
    margin-top: 88px;
  }
}
.page-4 {
  margin-top: 107px;
  .tick {
    margin-top: 74px;
  }
}
.page-5 {
  padding-top: 107px;
  background: url(/img/page-5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .title {
    h2 {
      color: #373563;
    }
  }
}
