.skils {
  margin-top: 110px;
  display: flex;
  flex-wrap: wrap;
  gap: 47px;
  justify-content: space-between;
  align-items: center;
  &__margin {
    margin-top: -24px;
  }
  &__margin-2 {
    margin-top: -24px;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  p {
    max-width: 244px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #373563;
  }
}
@media screen and (max-width: 1054px) {
  .skils {
    justify-content: center;
  }
}