@import "container";
@import "header";
@import "pages";
@import "main";
@import "gift";
@import "tick";
@import "title";
@import "form";
@import "salary";
@import "who-fits-in";
@import "skils";
@import "instructor";
@import "footer";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
}
