@import "container";
@import "header";
@import "pages";
@import "main";
@import "gift";
@import "tick";
@import "title";
@import "form";
@import "salary";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
}
