.title {
  display: flex;
  align-items: center;
  h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: #ff5f68;
    margin-left: 18px;
  }
}
