.title {
  display: flex;
  align-items: center;
  h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: #ff5f68;
    margin-left: 18px;
  }
  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #373563;
    text-align: center;
    max-width: 971px;
  }
  span {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: #373563;
  }
}
